.nav-text {
    color: black;
    margin-top: 0px;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    /*border-bottom: 1px #1abc9c solid;*/
}
.nav-bar-container {
    background: white;
}
.nav-bar {
    max-width: 900px;
    margin: auto;
    white-space: nowrap;
    background: white;
}

.nav-bar ul{
    margin: 0;
    list-style-type: none;
    padding-right: 40px;
}

.nav-item textArea{
    display: block;
    margin: auto;
    width:90%;
    height:400px;
}

.nav-item-right {
    float:right;
}

.nav-link{
    cursor: pointer;
    /*margin: 5px;*/
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    text-decoration:none;
    color: black;
    opacity: .5;
}

.nav-item {
    display:inline-block;
    margin-right:5px;
}
a:hover {
    opacity: 1;
}
.activeLink{
    /*background: rgb(0, 153, 204);*/
    border-bottom: 4px solid #1abc9c;
    opacity: 1;
}
.nav-item:after {
    display:block;
    content: '';
    border-bottom: solid 4px #1abc9c;
    transform: scaleX(0);
    margin-bottom: -4px;
    transition: transform 250ms ease-in-out;
}
.nav-item:hover:after {
    transform: scaleX(1);
}
.nav-button{
    cursor: pointer;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    opacity: 1;
    background: #1abc9c;
    color: white;
    border-bottom: 1px #1abc9c solid;
    /*margin: 0;*/
}
.nav-button:hover {
    transition: 250ms ease-in-out;
    opacity: .8;
}
