
.register {
    width:430px;
    margin:auto;
    color: black;
}

.register input{
    margin-top:10px;
    margin-right:10px;

    height:25px;
    padding: 5px;
    padding-left: 10px;
}

.register button{
    height:37px;
    width: 189px;
    margin-top: 10px;
    color: white;
}

.valid-button{
    background: rgb(51, 102, 153);
}
.valid-button:hover{
    background: rgb(0, 153, 204);
}

.invalid-button{
    background: grey;
}
.invalid-button:hover{
    background: grey;
}

.form-error {
    display: inline;

    background-color: rgb(255, 179, 179);
    border: 1px solid Red;
    border-radius: 4px;

    padding-left: 10px;
    padding-right: 10px;
}
